.valued-oems-section {
    background: linear-gradient(to right, #c3002f, #4201a3);
    border-radius: 12px;
  }
  
  .oem-card {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 160px;
    height: 100%;
    position: relative;
  }
  
  .oem-logo {
    max-height: 40px;
    object-fit: contain;
  }
  
  .star-badge {
    height: 25px;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  